# Day 5 (List)

## Q1

In [1]:
# no 1
empty_lst = []

## Q2

In [2]:
# no 2
item_list = ['item1', 'item2', 'item3', 'item4', 'item5', 'item6', 'item7']

## Q3

In [3]:
# no 3
print(len(item_list))

7

## Q4

In [4]:
# no 4
print(item_list[0], item_list[len(item_list) // 2], item_list[-1])

item1 item4 item7

## Q5

In [5]:
# no 5
mixed_data_type = ['Muhammad', 25, 40.5, 'single', 'Kurna Asabe']

## Q6

In [6]:
# no 6
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

## Q7

In [7]:
# no 7
print(mixed_data_type)
print(it_companies)

['Muhammad', 25, 40.5, 'single', 'Kurna Asabe']
['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

## Q8

In [8]:
# no 8
print(len(it_companies))

7

## Q9

In [9]:
# no 9
print(it_companies[0], it_companies[len(it_companies) // 2], it_companies[-1])

Facebook Apple Amazon

## Q10

In [10]:
# no 10
it_companies[5] = 'Tesla'
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Tesla', 'Amazon']

## Q11

In [11]:
# no 11
it_companies.append('SpaceX')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Tesla', 'Amazon', 'SpaceX']

## Q12

In [12]:
# no 12
it_companies.insert((len(it_companies) // 2), 'Nasa')
print(it_companies)

['Facebook', 'Google', 'Microsoft', 'Apple', 'Nasa', 'IBM', 'Tesla', 'Amazon', 'SpaceX']

## Q13

In [13]:
# no 13
it_companies[1] = it_companies[1].upper()
print(it_companies)

['Facebook', 'GOOGLE', 'Microsoft', 'Apple', 'Nasa', 'IBM', 'Tesla', 'Amazon', 'SpaceX']

## Q14

In [14]:
# no 14
print("#".join(it_companies))

Facebook#GOOGLE#Microsoft#Apple#Nasa#IBM#Tesla#Amazon#SpaceX

## Q15

In [15]:
# no 15
print('Amazon' in it_companies)

True

## Q16

In [16]:
# no 16
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'Facebook', 'GOOGLE', 'IBM', 'Microsoft', 'Nasa', 'SpaceX', 'Tesla']

## Q17

In [17]:
# no 17
it_companies.reverse()
print(it_companies)

['Tesla', 'SpaceX', 'Nasa', 'Microsoft', 'IBM', 'GOOGLE', 'Facebook', 'Apple', 'Amazon']

## Q18

In [18]:
# no 18
print(it_companies[3:])

['Microsoft', 'IBM', 'GOOGLE', 'Facebook', 'Apple', 'Amazon']

## Q19

In [19]:
# no 19
print(it_companies[0:-3])

['Tesla', 'SpaceX', 'Nasa', 'Microsoft', 'IBM', 'GOOGLE']

## Q20

In [20]:
# no 20
print(it_companies[0:len(it_companies) // 2] + it_companies[:len(it_companies) // 2])

['Tesla', 'SpaceX', 'Nasa', 'Microsoft', 'Tesla', 'SpaceX', 'Nasa', 'Microsoft']

## Q21

In [21]:
# no 21
it_companies.pop(0)
print(it_companies)

['SpaceX', 'Nasa', 'Microsoft', 'IBM', 'GOOGLE', 'Facebook', 'Apple', 'Amazon']

## Q22

In [22]:
# no 22
it_companies.pop(len(it_companies) // 2)
print(it_companies)

['SpaceX', 'Nasa', 'Microsoft', 'IBM', 'Facebook', 'Apple', 'Amazon']

## Q23

In [23]:
# no 23
it_companies.pop(-1)
print(it_companies)

['SpaceX', 'Nasa', 'Microsoft', 'IBM', 'Facebook', 'Apple']

## Q24

In [24]:
# no 24
it_companies.clear()
print(it_companies)

[]

## Q25

In [25]:
# no 25
del it_companies

## Q26

In [26]:
# no 26
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node', 'Express', 'MongoDB']
front_end.extend(back_end)

## Q27

In [27]:
# no 27
full_stack = front_end.copy()
print(full_stack)
full_stack.insert(5, 'Python')
full_stack.insert(6, 'SQL')
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

# Execises: Level 2

## Q1

In [28]:
# no 1
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print(ages)
ages.sort()
print(ages)
print(min(ages))  # minimum value
print(max(ages))  # maximum value
print(ages[len(ages) // 2])  # median age
print(sum(ages) / len(ages))  # average age
print(max(ages) - min(ages)) # ranges of ages
print(abs(min(ages)-(sum(ages)/len(ages))))
print(abs(max(ages)-(sum(ages)/len(ages))))

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26
24
22.8
7
3.8000000000000007
3.1999999999999993

## Q2

In [29]:
# no 2
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]

print([countries[i]for i in range((len(countries) // 2) - (1 if int(len(countries)) % 2 == 0 else 0), len(countries) // 2 + 1)])

['Lesotho']

## Q3

In [30]:
# no 2
if len(countries) % 2 == 0:
    first_half = countries[:len(countries) // 2]
    second_half = countries[len(countries) // 2:]
else:
    first_half = countries[:len(countries) // 2 + 1]
    second_half = countries[len(countries) // 2 + 1:]

print(first_half)
print(second_half)

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho']
['Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

## Q3

In [31]:
# no 3
scandic_countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark'][3:]
print(scandic_countries)

['Finland', 'Sweden', 'Norway', 'Denmark']