# Day 10 (Loops)

## Exercise: Level 1

### Q1

In [1]:
print("Iterate 0 to 10 using for loop")
for i in range(0,11):
    print(i)

print("Iterate 0 to 10 using while loop")
count = 0
while count <= 10:
    print(count)
    count += 1

Iterate 0 to 10 using for loop
0
1
2
3
4
5
6
7
8
9
10
Iterate 0 to 10 using while loop
0
1
2
3
4
5
6
7
8
9
10

### Q2

In [2]:
print("Iterate 10 to 0 using for loop")

for i in range(10,-1,-1):
    print(i)

print("Iterate 10 to 0 using while loop")
count = 10
while count >= 0:
    print(count)
    count -= 1

Iterate 10 to 0 using for loop
10
9
8
7
6
5
4
3
2
1
0
Iterate 10 to 0 using while loop
10
9
8
7
6
5
4
3
2
1
0

### Q3

In [3]:
for i in range(7):
    for j in range(i+1):
        print('#',end="")
    print()

#
##
###
####
#####
######
#######

### Q4

In [4]:
for i in range(8):
    for j in range(8):
        print('#', end=' ')
    print()

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

### Q5

In [5]:
for i in range(11):
    print(i,'x',i,' = ', i*i)

0 x 0  =  0
1 x 1  =  1
2 x 2  =  4
3 x 3  =  9
4 x 4  =  16
5 x 5  =  25
6 x 6  =  36
7 x 7  =  49
8 x 8  =  64
9 x 9  =  81
10 x 10  =  100

### Q6

In [6]:
lst = ['Python', 'Numpy','Pandas','Django', 'Flask'] 
for i in lst:
    print(i)

Python
Numpy
Pandas
Django
Flask

### Q7

In [7]:
for i in range(101):
    if i % 2 == 0:
        print(i, end=' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

### Q8

In [8]:
for i in range(101):
    if i%2 != 0:
        print(i,end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

## Exercise: Level 2

### Q1

In [9]:
sum = 0

for i in range(101):
    sum += i
print('The sum of all numbers is {}.'.format(sum))

The sum of all numbers is 5050.

### Q2

In [10]:
even_sum = 0
odd_sum = 0
for i in range(101):
    if i % 2 == 0:
        even_sum += i
    else:
        odd_sum += i
print('The sum of all evens is {}. And the sum of all odds is {}.'.format(even_sum,odd_sum))

The sum of all evens is 2550. And the sum of all odds is 2500.

## Exercise: Level 3

### Q1

In [11]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
]
for i in countries:
    if 'land' in i:
        print(i)

Finland
Iceland
Ireland
Marshall Islands
Netherlands
New Zealand
Poland
Solomon Islands
Swaziland
Switzerland
Thailand

### Q2

In [12]:
lst =  ['banana', 'orange', 'mango', 'lemon'] 
reverse_lst = []
for i in range(3,-1,-1):
    reverse_lst.append(lst[i])
print(reverse_lst)

['lemon', 'mango', 'orange', 'banana']

### Q3

In [13]:
from countries_data import data

countries_data = data
languages_lst = []

# (Q3)i
for i in countries_data:
    languages_lst.extend(i['languages'])
print('Total number of languages is',len(set(languages_lst)))

# (Q3)ii
languages_dict = {}
for j in languages_lst:
    if j in languages_dict:
        languages_dict[j] += 1
    else:
        languages_dict[j] = 1
# sort languages dictionary by value to get top 10
sorted_language_dict= dict(sorted(languages_dict.items(),key=lambda x:x[1],reverse=True))
# get top 10 languages
top_10_language = dict(list(sorted_language_dict.items())[:10])
print("10 most spoken languages from the data")
print(top_10_language)

# (Q3) iii
populations = {}
for i in countries_data:
    populations[i["name"]] = i["population"]
sorted_populations_dict= dict(sorted(populations.items(),key=lambda x:x[1],reverse=True))
top_10_populated_countries = dict(list(sorted_populations_dict.items())[:10])
print("10 most populated countries in the world")
print(top_10_populated_countries)

Total number of languages is 112
10 most spoken languages from the data
{'English': 91, 'French': 45, 'Arabic': 25, 'Spanish': 24, 'Portuguese': 9, 'Russian': 9, 'Dutch': 8, 'German': 7, 'Chinese': 5, 'Serbian': 4}
10 most populated countries in the world
{'China': 1377422166, 'India': 1295210000, 'United States of America': 323947000, 'Indonesia': 258705000, 'Brazil': 206135893, 'Pakistan': 194125062, 'Nigeria': 186988000, 'Bangladesh': 161006790, 'Russian Federation': 146599183, 'Japan': 126960000}