# Day 7 (Set)

## Exercise: Level 1

In [1]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19,22,24,20,25,26}
B = {19,22,20,25,26,24,28,27}
age = [22,19,24,25,26,24,25,24]

### Q1

In [2]:
# no 1
print(len(it_companies))

7

### Q2

In [3]:
# no 2
it_companies.add('Twitter')
print(it_companies)

{'IBM', 'Oracle', 'Google', 'Facebook', 'Apple', 'Microsoft', 'Twitter', 'Amazon'}

### Q3

In [4]:
# no 3
it_companies.update(['Instagram','Telegram','Tesla'])
print(it_companies)

{'IBM', 'Tesla', 'Oracle', 'Telegram', 'Google', 'Facebook', 'Apple', 'Instagram', 'Microsoft', 'Twitter', 'Amazon'}

### Q4

In [5]:

# no 4
it_companies.remove('Telegram')
print(it_companies)

{'IBM', 'Tesla', 'Oracle', 'Google', 'Facebook', 'Apple', 'Instagram', 'Microsoft', 'Twitter', 'Amazon'}

### Q5

In [6]:
# no 5
'''  'remove' raises an exception or error if element is not in set while 'discard' no '''

"  'remove' raises an exception or error if element is not in set while 'discard' no "

### Q6

## Exercise: Level 2

### Q1

In [7]:
# no 1
print(A.union(B))

{19, 20, 22, 24, 25, 26, 27, 28}

### Q2

In [8]:
# no 2
print(A.intersection(B))

{19, 20, 22, 24, 25, 26}

### Q3

In [9]:
# no 3
print(A.issubset(B))

True

### Q4

In [10]:
# no 4
print(A.isdisjoint(B))

False

### Q5

In [11]:
# no 5
print(A.union(B))

{19, 20, 22, 24, 25, 26, 27, 28}

### Q6

In [12]:
# no 6
print(B.union(A))

{19, 20, 22, 24, 25, 26, 27, 28}

### Q7

In [13]:
# no 7
print(A.symmetric_difference(B))

{27, 28}

### Q8

In [14]:
# no 8
del A
del B
del it_companies

## Exercise: Level 3

### Q1

In [15]:
# no 1
print(len(set(age)) > len(age))

False

### Q2

In [16]:
# no 2

'''
List is a data structure which stores the elements in single row and multiple rows and columns 
Tuple data structure which stores single row and multiple rows and columns and immutable
Set data structure but stores in single row
'''

'\nList is a data structure which stores the elements in single row and multiple rows and columns \nTuple data structure which stores single row and multiple rows and columns and immutable\nSet data structure but stores in single row\n'

## Q3

In [17]:
string = 'I am a teacher and I love to inspire and teach people.'
print(len(set(string.split())))

10