# Day 3

## Q1

In [1]:
# no 1
age = 25

## Q2

In [2]:
# no 2
height = 48.5

## Q3

In [3]:
# no 3
complex_number = 3 + 2j

## Q4

In [4]:
# no 4
b = float(input("Enter base: "))
h = float(input("Enter height: "))

area = 0.5 * b * h
print("The area of the triangle is ", area)

Enter base: 4
Enter height: 6
The area of the triangle is  12.0

## Q5

In [5]:
# no 5
a = int(input("Enter side a: "))
b = int(input("Enter side b: "))
c = int(input("Enter side c: "))

perimeter = a + b + c
print("The perimeter of the triangle is ", perimeter)

Enter side a: 6
Enter side b: 3
Enter side c: 8
The perimeter of the triangle is  17

## Q6

In [6]:
# no 6
length = int(input("Enter length: "))
width = int(input("Enter width: "))
rect_area = 2 * (length + width)
print("The perimeter of rectangle is ", rect_area)

Enter length: 3
Enter width: 5
The perimeter of rectangle is  16

## Q7

In [7]:
# no 7
r = float(input("Enter radius: "))
circle_area = 3.14 * r * r
print("The area of circle is ", circle_area)

Enter radius: 4
The area of circle is  50.24

## Q8

In [8]:
# no 8
print("X intercept: ", 1)
print("Y intercept: ", -2)
print("Slope: ", 2)

X intercept:  1
Y intercept:  -2
Slope:  2

## Q9

In [9]:
# no 9
x1, x2 = 2, 6
y1, y2 = 2, 10
m = (y2 - y1) / (x2 - x1)
distance = ((x2 - x1) ** 2 + (y2 - y1) ** 2) ** 0.5
print("Slope is ", m)
print("Euclidean distance is ", distance)

Slope is  2.0
Euclidean distance is  8.94427190999916

## Q10

In [10]:
# no 10
print(2 if 2 < (y2 - y1) / (x2 - x1) else (y2 - y1) / (x2 - x1))

2.0

## Q11

In [11]:
# no 11
for x in range(-4, 3):
    y = x ** 2 + 6 * x + 9
    print("y = ", y, " at x = ", x)

y =  1  at x =  -4
y =  0  at x =  -3
y =  1  at x =  -2
y =  4  at x =  -1
y =  9  at x =  0
y =  16  at x =  1
y =  25  at x =  2

## Q12

In [12]:

# no 12
print(len('python') != len('dragon'))

False

## Q13

In [13]:
# no 13
print('on' in 'python' and 'on' in 'dragon')

True

## Q14

In [14]:
# no 14
sentence = 'I hope this course is not full of jargon'
print('jargon' in sentence)

True

## Q15

In [15]:
# no 15
print('on' not in ('python' or 'dragon'))

False

## Q16

In [16]:
# no 16
text = 'python'
length_text = len(text)
l_text_float = float(length_text)
l_t_f_string = str(l_text_float)

## Q17

In [17]:
# no 17
n = 16
if n % 2 == 0:
    print("even")
else:
    print("not even")

even

## Q18

In [18]:
# no 18
floor_division = 7 // 3

## Q19

In [19]:
# no 19
print(type('10') is type(10))

False

## Q20

In [28]:
# no 20
print(int(9.8) == 10)

False

## Q21

In [29]:
# no 21
hours = int(input("Enter hours: "))
rate_per_hour = int(input("Enter rate per hour: "))
earning = hours * rate_per_hour
print("Your weekly earning is ", earning)

Enter hours: 8
Enter rate per hour: 34
Your weekly earning is  272

## Q22

In [30]:
# no 22
year = int(input("Enter number year you have lived: "))
second = year * 365 * 24 * 60 * 60
print("You have lived for ",second, " second")

Enter number year you have lived: 25
You have lived for  788400000  second

## Q23

In [31]:
# no 23
for i in range(1, 6):
    print(i, i ** 0, i ** 1, i ** 2, i ** 3)

1 1 1 1 1
2 1 2 4 8
3 1 3 9 27
4 1 4 16 64
5 1 5 25 125